<script>

</script>

<svelte:head>
	<title>Reports</title>
</svelte:head>

<style lang="scss">
#main {
	margin: 2em 0;
	padding-bottom: 5em;
}

.col {
	width: 650px;
	max-width: 100%;
	margin: 0 auto;
}

#title {
	//text-align: center;
	font-size: 1.5em;
}

#page {
	margin-top: calc(12px + .5em);
}
</style>

<div id="main">
	<div class="col">
		<div id="title">
			Reports
		</div>
	</div>
	<div class="col">
		<div id="page">
			<slot/>
		</div>
	</div>
</div>
