@import "prism-one-light.css";

html {
	--code-height: 30em;
	
	font-family: sans-serif;
	//font-size: 18px;
	color: #444444;
}

body {
	margin: 0;
}

div {
	box-sizing: border-box;
}

#controls {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #b0b0b0;
	padding: 1em;
	background: #fff8;
}

@media print {
	#controls {
		display: none;
	}
}

h1, h2 {
	text-align: center;
	//font-weight: normal;
}

h2 {
	font-size: 1.3em;
}

h1, h2, h3 {
	&:first-child {
		margin-top: 0;
	}
}

p {
	//letter-spacing: 0.1px;
	line-height: 1.5;
}

li p {
	line-height: 1.25;
}

a {
	color: #004ec5;
}

pre {
	border: 1px solid #bfbfbf;
	background-clip: padding-box;
	
	&.scroll {
		max-height: var(--code-height);
	}
	
}

code {
	font-size: 15px;
	background: #fafafa;
}

pre code {
	font-size: 14px;
}

blockquote {
	margin: 0;
	border-radius: 2px;
	padding: 4px 5px;
	background: #00000010;
	
	p:first-child {
		margin-top: 0;
	}
	
	p:last-child {
		margin-bottom: 0;
	}
}

$tableBorder: 1px solid #bbbbbb;

table {
	width: 100%;
	border-collapse: collapse;
}

td, th {
	border: $tableBorder;
}

td {
	border: $tableBorder;
	padding: 12px;
}

th {
	text-align: left;
	padding: 8px 12px;
}

tfoot, tr.footer {
	font-weight: bold;
	border-top: 2px solid #aaa;
}

div:focus {
	outline: none;
}
