<script>
export let data;

let {page} = data;
let {title, date, content} = page;

let pageTitle = title;
</script>

<svelte:head>
	<title>{pageTitle}</title>
</svelte:head>

<style lang="scss">
#top {
	padding: 1em;
	border-bottom: 1px solid #b0b0b0;
}

@media print {
	#top {
		display: none;
	}
}

#main {
	width: 650px;
	max-width: 100%;
	min-height: 100vh;
	margin: 2em auto;
	padding-bottom: 5em;
}
</style>

<div id="top">
	<a href="/">Home</a>
</div>

<div id="main">
	<svelte:component this={content}/>
</div>
